# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Chad Boyce
email = chadboyce@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[merge]
	tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[init]
	defaultBranch = main
